# ---> Unity
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Ll]ayouts
.idea/
.vs/
.vscode/
.vsconfig/

# Build Folders
/[Bb]uild/
/[Bb]uilds/
/[Tt]esting/
/[Pp]roduction/

# Build Files
*.apk
*.aab

# Recordings can get excessive in size
/[Rr]ecordings/

# Files
Thumbs.db
*.csproj
*.sln
*.userprefs
*.apk
desktop.ini